@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@layer utilities {
  .backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
}
@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.9532 0.0137 67.6613);
  --foreground: oklch(0.4712 0 0);
  --card: oklch(0.9552 0.078 136.0959);
  --card-foreground: oklch(0.4712 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.4712 0 0);
  --primary: oklch(0.6856 0.1154 55.9813);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.6635 0.1044 284.4618);
  --secondary-foreground: oklch(0.3211 0 0);
  --muted: oklch(0.7916 0.0806 292.5006);
  --muted-foreground: oklch(0.5795 0 0);
  --accent: oklch(0.928 0.1253 136.6836);
  --accent-foreground: oklch(0.3211 0 0);
  --destructive: oklch(0.954 0.1579 108.6665);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.6856 0.1154 55.9813);
  --input: oklch(0.9189 0 0);
  --ring: oklch(0.7837 0.1026 65.3737);
  --chart-1: oklch(0.7837 0.1026 65.3737);
  --chart-2: oklch(0.6673 0.1369 289.9882);
  --chart-3: oklch(0.928 0.1253 136.6836);
  --chart-4: oklch(0.8624 0.072 65.9429);
  --chart-5: oklch(0.7131 0.1227 64.6033);
  --sidebar: oklch(0.9356 0.0272 60.3624);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.7559 0.1373 63.5013);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8774 0.0698 61.777);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.9529 0.0294 344.7972);
  --sidebar-ring: oklch(0.7559 0.1373 63.5013);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: #d18851;
  --shadow-2xs: 3px 3px 0px 0px hsl(25.7813 58.1818% 56.8627% / 0.5);
  --shadow-xs: 3px 3px 0px 0px hsl(25.7813 58.1818% 56.8627% / 0.5);
  --shadow-sm:
    3px 3px 0px 0px hsl(25.7813 58.1818% 56.8627% / 1),
    3px 1px 2px -1px hsl(25.7813 58.1818% 56.8627% / 1);
  --shadow:
    3px 3px 0px 0px hsl(25.7813 58.1818% 56.8627% / 1),
    3px 1px 2px -1px hsl(25.7813 58.1818% 56.8627% / 1);
  --shadow-md:
    3px 3px 0px 0px hsl(25.7813 58.1818% 56.8627% / 1),
    3px 2px 4px -1px hsl(25.7813 58.1818% 56.8627% / 1);
  --shadow-lg:
    3px 3px 0px 0px hsl(25.7813 58.1818% 56.8627% / 1),
    3px 4px 6px -1px hsl(25.7813 58.1818% 56.8627% / 1);
  --shadow-xl:
    3px 3px 0px 0px hsl(25.7813 58.1818% 56.8627% / 1),
    3px 8px 10px -1px hsl(25.7813 58.1818% 56.8627% / 1);
  --shadow-2xl: 3px 3px 0px 0px hsl(25.7813 58.1818% 56.8627% / 2.5);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2115 0.0544 298.0922);
  --foreground: oklch(0.9461 0.0142 74.4231);
  --card: oklch(0.2531 0.0528 299.0633);
  --card-foreground: oklch(0.9461 0.0142 74.4231);
  --popover: oklch(0.2531 0.0528 299.0633);
  --popover-foreground: oklch(0.9461 0.0142 74.4231);
  --primary: oklch(0.928 0.1253 136.6836);
  --primary-foreground: oklch(0.2115 0.0544 298.0922);
  --secondary: oklch(0.8729 0.0685 93.6417);
  --secondary-foreground: oklch(0.2115 0.0544 298.0922);
  --muted: oklch(0.2676 0.014 310.8239);
  --muted-foreground: oklch(0.8729 0.0685 93.6417);
  --accent: oklch(0.7534 0.0712 81.5886);
  --accent-foreground: oklch(0.9461 0.0142 74.4231);
  --destructive: oklch(0.7517 0.1155 61.5952);
  --destructive-foreground: oklch(0.2115 0.0544 298.0922);
  --border: oklch(0.3542 0.0688 303.1483);
  --input: oklch(0.27 0.0538 298.6345);
  --ring: oklch(0.4938 0.1562 282.1309);
  --chart-1: oklch(0.4938 0.1562 282.1309);
  --chart-2: oklch(0.8729 0.0685 93.6417);
  --chart-3: oklch(0.7534 0.0712 81.5886);
  --chart-4: oklch(0.2917 0.1372 282.3951);
  --chart-5: oklch(0.2676 0.014 310.8239);
  --sidebar: oklch(0.1987 0.0477 299.339);
  --sidebar-foreground: oklch(0.9665 0.0045 314.8046);
  --sidebar-primary: oklch(0.7559 0.1373 63.5013);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8774 0.0698 61.777);
  --sidebar-accent-foreground: oklch(0.2677 0.0473 310.2513);
  --sidebar-border: oklch(0.365 0.0483 312.0204);
  --sidebar-ring: oklch(0.7559 0.1373 63.5013);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: #433259;
  --shadow-2xs: 3px 3px 0px 0px hsl(266.1538 28.0576% 27.2549% / 0.5);
  --shadow-xs: 3px 3px 0px 0px hsl(266.1538 28.0576% 27.2549% / 0.5);
  --shadow-sm:
    3px 3px 0px 0px hsl(266.1538 28.0576% 27.2549% / 1),
    3px 1px 2px -1px hsl(266.1538 28.0576% 27.2549% / 1);
  --shadow:
    3px 3px 0px 0px hsl(266.1538 28.0576% 27.2549% / 1),
    3px 1px 2px -1px hsl(266.1538 28.0576% 27.2549% / 1);
  --shadow-md:
    3px 3px 0px 0px hsl(266.1538 28.0576% 27.2549% / 1),
    3px 2px 4px -1px hsl(266.1538 28.0576% 27.2549% / 1);
  --shadow-lg:
    3px 3px 0px 0px hsl(266.1538 28.0576% 27.2549% / 1),
    3px 4px 6px -1px hsl(266.1538 28.0576% 27.2549% / 1);
  --shadow-xl:
    3px 3px 0px 0px hsl(266.1538 28.0576% 27.2549% / 1),
    3px 8px 10px -1px hsl(266.1538 28.0576% 27.2549% / 1);
  --shadow-2xl: 3px 3px 0px 0px hsl(266.1538 28.0576% 27.2549% / 2.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
